*{
    padding: 0;
    margin: 0;
}
.Espacio{
    margin-top: 50px;
    margin-bottom: 50px;
    }

$ColorPrimario: #64cab4;
$ColorSecundario: #37C3A5;

@mixin tipo-footer{
    color: white;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

@mixin tipo-galeria{
    color: white;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    font-size: 35px;
}

@mixin borde-letras-1{
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

@import './ScssPages/_contacto';
@import './ScssPages/_galeria';
@import './ScssPages/_index';
@import './ScssPages/_petshop';
@import './ScssPages/_servicios';
@import './ScssStyles/_botones';
@import './ScssStyles/_footer';
@import './ScssStyles/_header';
@import './ScssStyles/_mediaq';
@import './ScssStyles/_tipografias';