*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Kalam:wght@300&family=Lobster&display=swap');

/*
font-family: 'Crete Round', serif;
font-family: 'Kalam', cursive;
font-family: 'Lobster', cursive;*/

header{
    background-color: rgb(141, 230, 200);
}

.navegacion{
    color: rgb(255, 255, 255);
    font-size: 140%;
    font-family:'Kalam', cursive;
}
.navegacion li{
    padding: 10px; 
    margin: 5px ; 
    background-color: rgb(75, 187, 150);
    display: inline-block;
    
}

.navegacion a{
    text-decoration: none;
    color: #ffffff;
}
@media (max-width: 768px){
    .logo{
        display: none;    }
        .banner{
        display: none;
        }
    }



.banner {
    width: 100%;
    height: 500px; 
    position: relative; }

    .banner video {
        width: 100vw; 
        height: 500px; 
        object-fit: cover;}

main h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

.Espacio{
margin-top: 50px;
margin-bottom: 50px;
}

.letras{
    font-size: 25px;
    font-family: 'Kalam', cursive;
}


/*igual tambien para las demás paginas*/
footer{
background-color: rgb(141, 230, 200);}

footer h5{
    margin-top: 50px;
    margin-bottom: 20px;
}
.FooterUses{
    margin-top: 20px;
}

.mapa{
        width: 50%;
        max-width: 50%;
        height: auto;

    }



