footer{
    background-color:$ColorPrimario;}
    
    footer h5{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .FooterUses{
        margin-top: 20px;
        transition: transform 0.5s ease;
    }
    
    .icono:hover {
        transform: scale(1.3);
    }
    
    .mapa{
            width: 50%;
            max-width: 50%;
            height: auto; }

    .TextoFooter{
        color: white;
        @include borde-letras-1
    }
