header{
    background-color:$ColorPrimario;
}

.navegacion{
    color: rgb(255, 255, 255);
    font-size: 140%;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.navegacion li{
    padding: 10px; 
    margin: 5px ; 
    background-color: $ColorSecundario;
    display: inline-block;
    transition: transform 0.5s ease; 
    border:1.5px solid black;
}
.navegacion li:hover {
    transform: scale(1.1);
}

.logo {
    transition: transform 0.5s ease;
}
.logo:hover {
    transform: scale(1.1); 
}

.navegacion a{
    text-decoration: none;
    color: #ffffff;
    
}